<section class="categories-show">

  <header class="page-header">
    <h1>
      <%= @category.name %>
      <small>(<%= pluralize @pcategories.size, 'category' %>)</small>
    </h1>
  </header>

  <div class="category">
    <%= render @categories %>
  </div>

</section>
